
textarea {
    display: block;
    min-width: 60em;
}
body {
    margin-left: 2em;
    max-width: 50em;
}
h1 {
  text-align: center;
}
#speechTextArea {
    padding-top: 1em;
    width: 50em;
    min-height: 3em;
}
#speechTextArea em {
    background: #ff9;
}
#mathmlTextArea {
    background: #eef;
    color: black;
}
#echosourceTextArea, #xastDisplayArea {
    font-size: 90%;
    font-family: monospace;
    white-space: pre;
    margin-top: 1em;
    background: #ffe;
    padding: 1em;
    border: 0.2em solid blue;
}
#mathmlDisplayArea {
    margin-top: 1em;
    padding: 0.5em 0;
    font-size: 120%;
    background: #efe;
}
